@import "../variables";
@import "../mixins";

.filterButton {
  position: relative;
  width: 250px;
  height: 50px;
  border-radius: 6px;
  background-color: $DarkBlue;

  .currentRegion {
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    color: white;
    @include flex(row, center, space-between);
    cursor: pointer;
    user-select: none;
  }

  .regions {
    display: none;
  }

  .regions.open {
    width: 100%;
    bottom: -200px;
    padding: 1.25rem 1.5rem;
    position: absolute;
    background-color: $DarkBlue;
    border-radius: 6px;
    @include flex(column, start, start);
    gap: 0.5rem;

    button {
      text-align: left;
      width: 100%;
      font-size: $FontDetailPage;
      cursor: pointer;
      color: white;
      background: transparent;
      border: none;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom-color: white;
      }
    }
  }
}
