@import "../mixins";
@import "../variables";

.ThemeButton {
  user-select: none;
  color: $White;
  font-size: $FontDetailPage;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @include flex(row, center, center);
  gap: 0.5rem;

  &:hover {
    box-shadow: 2px 2px 1px 1px $VeryDarkBlue;
  }
}
