@import "../variables";
@import "../mixins";

.home-container {
  width: 100%;
  @include flex(column, start, start);
  gap: 4rem;
  padding: 4rem;

  .home-top {
    width: 100%;
    @include flex(row, center, space-between);
    gap: 4rem;
    flex-wrap: wrap;
  }

  .home-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
  }
}
