@import "../variables";
@import "../mixins";

.home-container {
  width: 100%;
  @include flex(column, start, start);
  gap: 4rem;
  padding: 4rem;

  .home-top {
    width: 100%;
    @include flex(row, center, space-between);
    gap: 4rem;
    flex-wrap: wrap;
  }

  .home-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
  }
}

.home-container.dark {
  .SearchInput {
    background-color: $DarkBlue;

    input {
      color: white;
    }

    p {
      color: white;
    }
  }

  .filterButton {
    background-color: $DarkBlue;

    .currentRegion {
      color: white;
    }

    .regions.open {
      background-color: $DarkBlue;
    }

    button {
      color: white;
    }
  }

  .CountryCard {
    background-color: $DarkBlue;

    .country_info {
      color: $White;
    }
  }
}

.home-container.light {
  .SearchInput {
    background-color: $White;

    input {
      color: $DarkGray;
    }

    p {
      color: $DarkGray;
    }
  }

  .filterButton {
    background-color: $White;

    .currentRegion {
      color: $VeryDarkBlueText;
    }

    .regions.open {
      background-color: $White;
    }

    button {
      color: $VeryDarkBlueText;
    }
  }

  .CountryCard {
    background-color: $White;

    .country_info {
      color: $VeryDarkBlueText;
    }
  }
}
